* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.title--hero {
  color: #FFFFFF;
  font-size: 2.3rem;
}

.title__card {
  padding: 20px;
}

.title__card--sub {
  color: #C9A96E;
  font-size: .7rem;
  font-weight: normal;
}

.title__card--primary {
  font-size: 1rem;
  text-align: center;
  color: #171717;
  font-weight: normal;
}

.title__card--comment {
  font-size: .7rem;
  color: #B1B1B1;
  font-weight: normal;
}

.title--card {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 1.3rem;
  text-align: center;
}

.text--hero {
  color: #FFFFFF;
  font-weight: normal;
}

.text--list {
  font-size: 1rem;
  font-weight: normal;
  color: #171717;
  text-decoration: none;
}

.text--page {
  font-size: .8rem;
  font-weight: normal;
  color: #171717;
  text-decoration: none;
}

.text--card {
  color: #666666;
  font-size: .7rem;
}

.text--media {
  color: #B1B1B1;
  font-size: 12px;
}

.text--tag {
  color: #B1B1B1;
  background-color: #F8F9FA;
  font-size: 14px;
  font-weight: 400;
  padding: 0 10px;
}

.text--footer {
  font-weight: normal;
  font-size: 14px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__main {
  -webkit-box-shadow: 2px 2px 9px rgba(171, 171, 171, 0.726);
          box-shadow: 2px 2px 9px rgba(171, 171, 171, 0.726);
  padding-bottom: 20px;
}

.card__mid {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card__content {
  padding: 0 20px;
}

.card__image {
  width: 100%;
}

.card__sidebar {
  padding-bottom: 0;
}

.card__sidebar--header {
  border: 0.5px solid #E5E5E5;
  width: 100%;
  padding: 10px 20px;
}

.card__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card__table--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}

.card__media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 10px;
}

.card__media--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F8F9FA;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.card__media--image {
  width: 20px;
}

.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.btn--card {
  text-align: center;
  color: #C9A96E;
  font-weight: normal;
  border: none;
  background-color: transparent;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0px 10px 0px;
  font-size: .8rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
}

.header__list--item {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

.header__list--active {
  color: #C9A96E;
}

.hero {
  background: url(../image/backgrond.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
}

.hero__content {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.hero__comment {
  margin-top: 40px;
}

.blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-top: 40px;
  grid-column-gap: 40px;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__content--box1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.blog__content--box3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.blog__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.blog__sidebar--feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.blog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__pagination--list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px;
  border: 1px solid #E5E5E5;
}

.blog__pagination--list li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}

.blog__pagination--list li a {
  display: block;
  border-radius: 50%;
}

.blog__pagination--num {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.blog__pagination--prev {
  margin-left: 20px;
  color: #666666;
}

.blog__pagination--next {
  margin-right: 20px;
}

.gallery {
  margin-top: 30px;
}

.gallery__header {
  text-align: center;
  margin-bottom: 30px;
}

.gallery__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__image--item {
  width: 16%;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

.footer__logo {
  width: 128px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer__list--active {
  background-color: #C9A96E;
}

.footer__list--item {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
}

.footer__list--img {
  width: 20px;
  height: 20px;
}

.footer hr {
  width: 96%;
}
/*# sourceMappingURL=main.css.map */